### About this document

This is a Jupyter Notebook designed to assess your understanding of the basic concepts of programming in Python. The contents of this document are divided into cells, which can contain Markdown-formatted text, Python code, or raw text. You can execute a snippet of code in a cell by pressing **Shift-Enter**. Try this out in the examples below.

## Variables, arithmetic and modules

We will start our Python lesson by learning a bit of the basic operations you can perform using Python.

### Simple Python math

Python can be used as a simple calculator. Remember, you can press **Shift-Enter** to execute the code in the cells below. Try it out and see what you get.

In [2]:
print("hello world")

hello world

In [6]:
myvar=1 + 1.7

In [7]:
myvar*myvar

7.290000000000001

If you want to edit and re-run some code, simply make changes to the cell and press **Shift-Enter** to execute the revised code.

### Functions

You can use Python for more advanced math by using functions. Functions are pieces of code that perform a single action such as printing information to the screen (e.g., the print() function). Functions exist for a huge number of operations in Python.

In [8]:
import math 
math.sin(3)

0.1411200080598672

In [9]:
math.sqrt(4)

2.0

In [10]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module is always available.  It provides access to the
    mathematical functions defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(x, y, /)
        Return the Euclidean distance, sqrt(x*x + y*y).

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    pow(x, y, /)
        Return x**y (x to the power of y).

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

Wait, what? Python can’t calculate square roots or do basic trigonometry? Of course it can, but we need one more step.

### Math operations

The list of basic arithmetic operations that can be done by default in Python is in the table below.

| Operation      | Symbol | Example syntax | Returned value |
| -------------- | ------ | -------------- | -------------- |
| Addition       | `+`    | `2 + 2`        | `4`            |
| Subtraction    | `-`    | `4 - 2`        | `2`            |
| Multiplication | `*`    | `2 * 3`        | `6`            | 
| Division       | `/`    | `4 / 2`        | `2`            |
| Integer Division       | `//`    | `5 // 2`        | `2`            |
| Exponentiation | `**`   | `2**3`         | `8`            |
| Modulo       | `%`    | `7 / 2`        | `1`            |
For anything more advanced, we need to load a *module*.

In [4]:
import math

In [5]:
math.sin(3)

0.1411200080598672

In [6]:
math.sqrt(4)

2.0

We can see a few interesting things above:

1. A *module*, also known as a *library*, is a group of code items such as functions that are related to one another.
Modules are loaded using ``import``.
Functions that are part of the module ``modulename`` could then be used by typing ``modulename.functionname()``.
For example, ``sin()`` is a function that is part of the ``math`` module, and used by typing ``math.sin()`` with some number between the parentheses.

2. Within a given Jupyter Notebook the variables you define earlier in the notebook will be available for use in the cells that follow as long as you have already executed the cells.

3. Modules may also contain constants such as ``math.pi``.

In [7]:
math.pi

3.141592653589793

In [8]:
math.sin(math.pi)

1.2246467991473532e-16

### Combining functions

Functions can also be combined

In [10]:
print(math.sqrt(4))

2.0

In [17]:
print("the Square root of 2: {0} {1} {2}".format(2, 3, 5))

the Square root of 2: 2 3 5

In [19]:
print(f"the Square root of 2: {math.pi} {math.sqrt(4)} {2}")

the Square root of 2: 3.141592653589793 2.0 2

In [20]:
import math as m

In [21]:
m.sqrt(2)

1.4142135623730951

### Variables

*Variables* can be used to store values calculated in expressions and used for other calculations.

In [27]:
temp_celsius = 30.0
print(temp_celsius+20.9)

50.9

In [25]:
print('Temperature in Fahrenheit:', 9/5 * temp_celsius + 32)

Temperature in Fahrenheit: 50.0

Above, we also see one common format for good variable naming, separation of words by underscores `_` (e.g., `temp_celsius`). This is called *pothole_case_naming*. We’ll see another below.

#### Check your understanding

Use the empty Python cell below to define a variable and print its value to the screen using the `print()` function.
The variable value can be anything you like, and you can even consider defining several variables and printing them out together.
Consider using pothole_case_naming for your variable name.

In [ ]:
# Place your code on the line(s) below. Note that lines starting with "#" are ignored in Python.

### Updating variables

Values stored in variables can also be updated.

In [14]:
temp_celsius = 15.0

In [15]:
print('temperature in Celsius is now:', temp_celsius)

temperature in Celsius is now: 15.0

<div class="alert alert-warning">

**Warning**

If you try to run some code that accesses a variable that has not yet been defined you will get a `NameError` message.

</div>

In [16]:
print('Temperature in Celsius:', 5/9 * (tempFahrenheit - 32))

NameError: name 'tempFahrenheit' is not defined

<div class="alert alert-info">

**Note**

One of the cool things here is that if we define the undefined variable in a later cell and execute that cell, we can return to the earlier one and the code should now work. That was a bit of a complicated sentence, so let's test this all out. First, execute the Python code in the cell below. Then, return to the cell above this text and run it again. See how the error message has gone away? `tempFahrenheit` has now been defined and thus the cell above no longer generates a `NameError` when the code is executed.

Also, the number beside the cell, for example `In [2]`, tells you the order in which the Python cells have been executed. This way you can see a history of the commands you've executed
</div>

In [28]:
tempFahrenheit = 9/5 * temp_celsius + 32

In [29]:
print('temperature in Celsius:', temp_celsius, 'and in Fahrenheit:', tempFahrenheit)

temperature in Celsius: 30.0 and in Fahrenheit: 86.0

### Variable values

Changing the value of a variable does not affect other variable values.

In [30]:
temp_celsius = 20.0
print('temperature in Celsius is now:', temp_celsius, 'and temperature in Fahrenheit is still:', tempFahrenheit)

temperature in Celsius is now: 20.0 and temperature in Fahrenheit is still: 86.0

### Data types

There are 4 basic *data types* in Python as shown in the table below.

| Data type name | Data type            | Example    |
| -------------- | -------------------- | ---------- |
| `int`          | Whole integer values | `4`        |
| `float`        | Decimal values       | `3.1415`   |
| `str`          | Character strings    | `'Hot'`    |
| `bool`         | True/false values    | `True`     |

The data type can be found using the `type()` function.
As you will see, the data types are important because some are not compatible with one another.

In [31]:
weatherForecast = 'Hot'
type(weatherForecast)

str

In [34]:
type('s')

str

In [42]:
True * False + 2

2

In [46]:
'str' + 'str'

'strstr'

In [21]:
type(tempFahrenheit)
tempFahrenheit = tempFahrenheit + 5.0 * weatherForecast

TypeError: can't multiply sequence by non-int of type 'float'

In this case we get at `TypeError` because we are trying to execute a math operation with data types that are not compatible. There is no way in Python to multpily numbers with a character string.

#### Check your understanding

Use the empty Python cell below to store a value in a variable that is the result of dividing an `int` value by a `float` or vice versa.
For example, `4 / 2.0`.
After you store the value in the variable, check its type using the `type()` function.
Did you get what you expected?
What happens when you divide two `int` values?

In [ ]:
# Place your code on the line(s) below.

### Let's start with some data

We saw a bit about variables and their values in the lesson last week, and we continue today with some variables related to [FMI observation stations in Finland](http://en.ilmatieteenlaitos.fi/observation-stations). For each station, a number of pieces of information are given, including the name of the station, an FMI station ID number (FMISID), its latitude, its longitude, and the station type. We can store this information and some additional information for a given station in Python as follows:

In [47]:
stationName = 'Helsinki Kaivopuisto'

In [48]:
stationID = 132310

In [49]:
stationLat = 60.15

In [50]:
stationLong = 24.96

In [51]:
stationType = 'Mareographs'

Here we have 5 values assigned to variables related to a single observation station. Each variable has a unique name and they can store different types of data.

### Reminder: Data types and their compatibility

We can explore the different types of data stored in variables using the `type()` function.

In [9]:
type(stationName)

str

In [10]:
type(stationID)

int

In [11]:
type(stationLat)

float

As expected, we see that the `stationName` is a character string, the `stationID` is an integer, and the `stationLat` is a floating point number.

<div class="alert alert-info">

**Note**

Remember, the data types are important because some are not compatible with one another.

</div>

In [12]:
stationName + stationID

TypeError: must be str, not int

Here we get a `TypeError` because Python does not know to combine a string of characters (`stationName`) with an integer value (`stationID`).

### Converting data from one type to another

It is not the case that things like the `stationName` and `stationID` cannot be combined at all, but in order to combine a character string with a number we need to perform a data type conversion to make them compatible. For example, we can could convert the `stationID` integer value into a character string using the `str()` function.

In [52]:
stationIDStr = str(stationID)

In [55]:
s_tring="55"
print(s_tring)

55

In [53]:
type(stationIDStr)

str

In [56]:
20+int(s_tring)

75

In [16]:
print(stationIDStr)

132310

As you can see, `str()` converts a numerical value into a character string with the same numbers as before.

<div class="alert alert-info">

**Note**

Similar to using `str()` to convert numbers to character strings, `int()` can be used to convert strings or floating point numbers to integers and `float()` can be used to convert strings or integers to floating point numbers.

</div>

Note that here we are converting `stationID` to a character string using the `str()` function within the assignment to the variable `stationNameAndID`. Alternatively, we could have simply added `stationName` and `stationIDStr`.

## Lists and indices

Above we have seen a bit of data related to one of several FMI observation stations in the Helsinki area. Rather than having individual variables for each of those stations, we can store many related values in a *collection*. The simplest type of collection in Python is a **list**.

### Creating a list

Let’s first create a list of selected stationName values.

In [57]:
stationNames = ['Helsinki Harmaja', 'Helsinki Kaisaniemi', 'Helsinki Kaivopuisto', 'Helsinki Kumpula']

In [58]:
print(stationNames)

['Helsinki Harmaja', 'Helsinki Kaisaniemi', 'Helsinki Kaivopuisto', 'Helsinki Kumpula']

In [18]:
type(stationNames)

list

Here we have a list of 4 `stationName` values in a list called `stationNames`. As you can see, the `type()` function recognizes this as a list. Lists can be created using the square brackets (`[` and `]`), with commas separating the values in the list.

### Index values

To access an individual value in the list we need to use an **index value**. An index value is a number that refers to a given position in the list. Let’s check out the first value in our list as an example:

In [19]:
print(stationNames[1])

Helsinki Kaisaniemi

Wait, what? This is the second value in the list we’ve created, what is wrong? As it turns out, Python (and many other programming languages) start values stored in collections with the index value 0. Thus, to get the value for the first item in the list, we must use index 0.

In [20]:
print(stationNames[0])

Helsinki Harmaja

In [59]:
stationNames.append('Héctor Hernández')
stationNames

['Helsinki Harmaja',
 'Helsinki Kaisaniemi',
 'Helsinki Kaivopuisto',
 'Helsinki Kumpula',
 'Héctor Hernández']

In [70]:
stationNames[3]

'Helsinki Kumpula'

In [72]:
list_str = "Hello World"
list_str[:6]

'Hello '

OK, that makes sense, but it may take some getting used to...

### Number of items in a list

We can find the length of a list using the `len()` function.

In [23]:
len(stationNames)

4

Just as expected, there are 4 values in our list and `len(stationNames)` returns a value of `4`.

### Index value tips

If we know the length of the list, we can now use it to find the value of the last item in the list, right?

In [24]:
print(stationNames[4])

IndexError: list index out of range

What, an `IndexError`?!? That’s right, since our list starts with index 0 and has 4 values, the index of the last item in the list is `len(SampleIDs) - 1`. That isn’t ideal, but fortunately there’s a nice trick in Python to find the last item in a list.

In [25]:
print(stationNames)

['Helsinki Harmaja', 'Helsinki Kaisaniemi', 'Helsinki Kaivopuisto', 'Helsinki Kumpula']

In [26]:
print(stationNames[-1])

Helsinki Kumpula

In [27]:
print(stationNames[-4])

Helsinki Harmaja

Yes, in Python you can go backwards through lists by using negative index values. Index `-1` gives the last value in the list and index `-len(SampleIDs)` would give the first. Of course, you still need to keep the index values within their ranges.

In [28]:
print(stationNames[-5])

IndexError: list index out of range

### Modifying list values

Another nice feature of lists is that they are *mutable*, meaning that the values in a list that has been defined can be modified. Consider a list of the observation station types corresponding to the station names in the `stationNames` list.

In [29]:
stationTypes = ['Weather stations', 'Weather stations', 'Weather stations', 'Weather stations']
print(stationTypes)

['Weather stations', 'Weather stations', 'Weather stations', 'Weather stations']

Now as we saw before, the station type for Helsinki Kaivopuisto should be ‘Mareographs’, not ‘Weather stations’. Fortunately, this is an easy fix. We simply replace the value at the corresponding location in the list with the correct one.

In [30]:
stationTypes[2] = 'Mareographs'
print(stationTypes)

['Weather stations', 'Weather stations', 'Mareographs', 'Weather stations']

### Data types in lists

Lists can also store more than one type of data. Let’s consider that in addition to having a list of each station name, FMISID, latitude, etc. we would like to have a list of all of the values for station ‘Helsinki Kaivopuisto’.

In [31]:
stationHelKaivo = [stationName, stationID, stationLat, stationLong, stationType]
print(stationHelKaivo)

['Helsinki Kaivopuisto', 132310, 60.15, 24.96, 'Mareographs']

Here we have one list with 3 different types of data in it. We can confirm this using the `type()` function.

In [33]:
type(stationHelKaivo)

list

In [34]:
type(stationHelKaivo[0])    # The station name

str

In [37]:
type(stationHelKaivo[1])    # The FMISID

int

In [38]:
type(stationHelKaivo[2])    # The station latitude

float

### Adding and removing values from lists

Finally, we can add and remove values from lists to change their lengths. Let’s consider that we no longer want to include the first value in the `stationNames` list.

In [39]:
print(stationNames)

['Helsinki Harmaja', 'Helsinki Kaisaniemi', 'Helsinki Kaivopuisto', 'Helsinki Kumpula']

In [40]:
del stationNames[0]

In [41]:
print(stationNames)

['Helsinki Kaisaniemi', 'Helsinki Kaivopuisto', 'Helsinki Kumpula']

`del` allows values in lists to be removed. It can also be used to delete values from memory in Python. If we would instead like to add a few samples to the stationNames list, we can do so as follows.

In [42]:
stationNames.append('Helsinki lighthouse')
stationNames.append('Helsinki Malmi airfield')

In [43]:
print(stationNames)

['Helsinki Kaisaniemi', 'Helsinki Kaivopuisto', 'Helsinki Kumpula', 'Helsinki lighthouse', 'Helsinki Malmi airfield']

As you can see, we add values one at a time using `stationNames.append()`. `list.append()` is called a method in Python, which is a function that works for a given data type (a list in this case). We’ll see a bit more about these below.

### The concept of objects

Python is one of a number of computer programming languages that are called ‘object-oriented languages’. It may take quite some time to understand what this means, but the simple explanation is that we can consider the variables that we define to be ‘objects’ that can contain both data known as **attributes** and a specific set of functions known as **methods**. The previous sentence could also take some time to understand by itself, but using an example the concept of ‘objects’ is much easier to understand.

### A (bad) example of methods

Let’s consider our list `stationNames`. As we know, we already have data in the list `stationNames`, and we can modify that data using built-in methods such as `stationNames.append()`. In this case, the method `append()` is something that exists for lists, but not for other data types. It is intuitive that you might like to add (or append) things to a list, but perhaps it does not make sense to append to other data types.

In [45]:
stationNameLength = len(stationNames)

In [46]:
print(stationNameLength)

5

In [47]:
type(stationNameLength)

int

In [48]:
stationNameLength.append(1)

AttributeError: 'int' object has no attribute 'append'

Here we get an `AttributeError` because there is no method built in to the `int` data type to append to `int` data. While `append()` makes sense for `list` data, it is not sensible for `int` data, which is the reason no such method exists for `int` data.

### Some other useful list methods

With lists we can do a number of useful things, such as count the number of times a value occurs in a list or where it occurs.

In [49]:
stationNames.count('Helsinki Kumpula')    # The count method counts the number of occurences of a value

1

In [50]:
stationNames.index('Helsinki Kumpula')    # The index method gives the index value of an item in a list

2

The good news here is that our selected station name is only in the list once. Should we need to modify it for some reason, we also now know where it is in the list (index `2`).

### Reversing a list

There are two other common methods for lists that we need to see. First, there is the `.reverse()` method, used to reverse the order of items in a list.

In [51]:
stationNames.reverse()

In [52]:
print(stationNames)

['Helsinki Malmi airfield', 'Helsinki lighthouse', 'Helsinki Kumpula', 'Helsinki Kaivopuisto', 'Helsinki Kaisaniemi']

Yay, it works!

<div class="alert alert-warning">

**Caution**

A common mistake when sorting lists is to do something like `stationNames = stationNames.reverse()`. **Do not do this!** When reversing lists with `.reverse()` the `None` value is returned (this is why there is no screen ouput when running `stationNames.reverse()`). If you then assign the output of `stationNames.reverse()` to `stationNames` you will reverse the list, but then overwrite its contents with the returned value `None`. This means you’ve deleted the list contents (!).

</div>

### Sorting a list

The `.sort()` method works the same way.

In [73]:
stationNames.sort()   # Notice no output here...

In [74]:
print(stationNames)

['Helsinki Harmaja', 'Helsinki Kaisaniemi', 'Helsinki Kaivopuisto', 'Helsinki Kumpula']

As you can see, the list has been sorted alphabetically using the `.sort()` method, but there is no screen output when this occurs. Again, if you were to assign that output to `stationNames` the list would get sorted, but the contents would then be assigned `None`.

<div class="alert alert-info">

**Note**

As you may have noticed, `Helsinki Malmi airfield` comes before `Helsinki lighthouse` in the sorted list. This is because alphabetical sorting in Python places capital letters before lowercase letters.

</div>

### List attributes

We won’t discuss any list attributes because as far as we know there aren’t any, but we’ll encounter some very useful attributes of other data types in the future.

In [75]:
lista = [1,2,3,4,5,6,7,8]
for i in range(0,3):
    N = lista[i]
    print(N)

1
2
3

In [77]:
list_test = [1,2,3,4,5,6,7,8,9,10]
list_test_len = len(list_test)
for i in range(list_test_len):
    if list_test[i]%2 == 0:
        print(list_test[i])
    else:
        print('No es par')

No es par
2
No es par
4
No es par
6
No es par
8
No es par
10

In [90]:
if 7 == 8:
    print(True)
else:
    print(False)

False

In [94]:

for i in range(1,100):
    if i%3 == 0:
        print("Fizz")
        continue
    if i%5 == 0:
        print("Buzz")
        continue
    if i%3==0 and i%5==0:
        print("FizzBuzz")
        continue
    print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
Fizz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
Fizz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
Fizz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
Fizz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
Fizz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz