## Problem 2a - Data manipulation (5 points)

Similarly as in earlier exercises the temperatures in our data are represented in Fahrenheit, hence,
you need to convert the temperatures into Celsius.


First, read again  the data from '6153237444115dat.csv' into a varaible `data` (you can copy your code from problem 1 here):

In [1]:
"""
we use read the data with panda.
"""
# Import pandas and read in data from csv
# YOUR CODE HERE
import pandas as pd
data= pd.read_csv("data/6153237444115dat.csv", sep=',',na_values=['*', '**', '***', '****', '*****', '******'] )
print(data.head())

    USAF   WBAN  YR--MODAHRMN    DIR   SPD   GUS  CLG  SKC   L   M  ...   \
0  28450  99999  201705010000  174.0  10.0  14.0  NaN  NaN NaN NaN  ...
1  28450  99999  201705010020  180.0  10.0   NaN  4.0  NaN NaN NaN  ...
2  28450  99999  201705010050  190.0  10.0   NaN  4.0  NaN NaN NaN  ...
3  28450  99999  201705010100  188.0  12.0  16.0  NaN  NaN NaN NaN  ...
4  28450  99999  201705010120  200.0  13.0   NaN  2.0  OBS NaN NaN  ...

      SLP    ALT    STP  MAX  MIN  PCP01  PCP06  PCP24  PCPXX    SD
0  1009.2    NaN  984.1  NaN  NaN    NaN    NaN    NaN    NaN  35.0
1     NaN  29.74    NaN  NaN  NaN    NaN    NaN    NaN    NaN   NaN
2     NaN  29.74    NaN  NaN  NaN    NaN    NaN    NaN    NaN   NaN
3  1009.1    NaN  984.0  NaN  NaN    NaN    NaN    NaN    NaN  35.0
4     NaN  29.74    NaN  NaN  NaN    NaN    NaN    NaN    NaN   NaN

[5 rows x 33 columns]

**Subset data and remove no data values** (2.5 points)

In the codeblock below:
 - Create a new variable `selected`
 - Select from the `data` columns `USAF, YR--MODAHRMN, TEMP, MAX, MIN` and assign them into the new variable `selected`
 - Remove all rows from `selected` that has NoData in column `TEMP` using the `dropna()` -function

In [4]:
# YOUR CODE HERE
"""
we assign the rows with specific names that you want to put insite of this variable and use subset to delete the values that do not exist
"""
selected=data[['USAF', 'YR--MODAHRMN', 'TEMP', 'MAX', 'MIN']]
selected=selected.dropna(subset=['TEMP'])

In [5]:
# Check your dataframe (for example using the head() and len() -functions)
print(selected.head())
print(len(selected))

    USAF  YR--MODAHRMN  TEMP  MAX  MIN
0  28450  201705010000  31.0  NaN  NaN
1  28450  201705010020  30.0  NaN  NaN
2  28450  201705010050  30.0  NaN  NaN
3  28450  201705010100  31.0  NaN  NaN
4  28450  201705010120  30.0  NaN  NaN
11691

**Convert fahrenheit to celsius** (2.5 points)
- Create a new column `Celsius`
- Convert the Fahrenheit temperatures from `TEMP` using the conversion formula (below) and store the results in the new `Celsius`column.
 ![formula](img/Fahrenheit_to_Celsius_formula.PNG)
 - Round the values in the `Celsius` column to have 0 decimals (**don't** create a new column --> update the current one)
 - Convert the `Celsius` values into integers (**don't** create a new column --> update the current one)

In [11]:
# YOUR CODE HERE
"""
we use the values of the temp row to do the mathematical operation and after that we put those results in other column.
we round the values that are in the new row and we assign for those values the "int" type.
"""
selected['celsius']=(selected['TEMP']-32)/1.8
selected['celsius']=selected['celsius'].round(0).astype(int)

In [12]:
# Check your dataframe
selected.head()

    USAF  YR--MODAHRMN  TEMP  MAX  MIN  celsius
0  28450  201705010000  31.0  NaN  NaN       -1
1  28450  201705010020  30.0  NaN  NaN       -1
2  28450  201705010050  30.0  NaN  NaN       -1
3  28450  201705010100  31.0  NaN  NaN       -1
4  28450  201705010120  30.0  NaN  NaN       -1

## Problem 2b - Data selection (5 points)

In this problem you should divide the data into separate subsets for different stations and save those DataFrames into csv files.

**Divide the selection into two separate datasets:** (2.5 points)
  - Select all rows from `selected` DataFrame into variable called `kumpula` where the `USAF` code is `29980`
  - Select all rows from `selected` DataFrame into variable called `rovaniemi` where the `USAF` code is `28450`
  
Please use the given variable names and write your answer to the codeblock below.

In [17]:
# YOUR CODE HERE
"""
we use the .loc function to select the values that have a specific value, It can be int, float, str.
"""
kumpula= selected.loc[selected['USAF']== 29980]
rovaniemi= selected.loc[selected['USAF']== 28450]

In [18]:
# Check the dataframes (you don't need to modify this cell)
print("Kumpula: \n", kumpula.head(), "\n")
print("Rovaniemi: \n", rovaniemi.head(), "\n")

Kumpula:
        USAF  YR--MODAHRMN  TEMP  MAX  MIN  celsius
8770  29980  201705010000  37.0  NaN  NaN        3
8771  29980  201705010100  37.0  NaN  NaN        3
8772  29980  201705010200  37.0  NaN  NaN        3
8773  29980  201705010300  37.0  NaN  NaN        3
8774  29980  201705010400  39.0  NaN  NaN        4

Rovaniemi:
     USAF  YR--MODAHRMN  TEMP  MAX  MIN  celsius
0  28450  201705010000  31.0  NaN  NaN       -1
1  28450  201705010020  30.0  NaN  NaN       -1
2  28450  201705010050  30.0  NaN  NaN       -1
3  28450  201705010100  31.0  NaN  NaN       -1
4  28450  201705010120  30.0  NaN  NaN       -1

**Save selections to csv files** (2.5 points)
- Save `kumpula` DataFrame into `Kumpula_temps_May_Aug_2017.csv` file (CSV format) 
   - separate the columns with  comma (`,`)
   - use only 2 decimals in the floating point numbers
- Save `rovaniemi` DataFrame into `Rovaniemi_temps_May_Aug_2017.csv` file (CSV format) 
   - separate the columns with comma (`,`)
   - use only 2 decimals in the floating point numbers

In [19]:
# YOUR CODE HERE
"""
we make two files to save ours results.
"""
kumpula.to_csv("Kumpula_temps_May_Aug_2017.csv", sep=',')
rovaniemi.to_csv("Rovaniemi_temps_May_Aug_2017.csv", sep=',')