<center> <h1> Application Programming Interface </h> </center> 
<center> <h2> Classroom Activity 1 </h> </center> 
<center> <h3> Data Preprocessing </h> </center>

**Open Notify** ([Web Page](http://open-notify.org/)) is an open source project to provide a simple programming interface for some of NASAâ€™s data.

In [1]:
import requests
import json
import pandas as pd
import time

a. Create the function named *astro_now*() to obtain data of the astraonauts in the space using the method [Number of People in Space](http://open-notify.org/Open-Notify-API/People-In-Space) using the following python libraries:
* [requests](https://2.python-requests.org/en/master/)
* [json](https://docs.python.org/3/library/json.html)
    
The function must return the obtained json file as a python dictionary.

In [2]:
# Complete task a here
#hacemos funcion
def astro_now():
    """
    docsrtring...
    
    input:
    
    output:
    
    """
    endpoint_url = 'http://api.open-notify.org/astros.json'
    res = requests.get(endpoint_url)
    results = json.loads(res.content)
    return results

In [3]:
astronauts_json = astro_now()
astronauts_json

{'message': 'success',
 'people': [{'name': 'Alexey Ovchinin', 'craft': 'ISS'},
  {'name': 'Nick Hague', 'craft': 'ISS'},
  {'name': 'Christina Koch', 'craft': 'ISS'},
  {'name': 'Alexander Skvortsov', 'craft': 'ISS'},
  {'name': 'Luca Parmitano', 'craft': 'ISS'},
  {'name': 'Andrew Morgan', 'craft': 'ISS'}],
 'number': 6}

b. Use the json obtained to create a table with the following columns:
* craft
* astronaut name

In [4]:
# Complete task b here
#json.dumbs convierte el diccionario en json
astronauts_df = pd.read_json(json.dumps(astronauts_json['people']), orient = 'records')
astronauts_df

  craft                 name
0   ISS      Alexey Ovchinin
1   ISS           Nick Hague
2   ISS       Christina Koch
3   ISS  Alexander Skvortsov
4   ISS       Luca Parmitano
5   ISS        Andrew Morgan

c. Create the function named *iss_currentlocation*() to obtain the position of the International Space Station using the method [Current Location of the International Space Station](http://open-notify.org/Open-Notify-API/ISS-Location-Now/).
    
The function must return the numeric value of the latitud and longitud as a tuple, e.g. (20.0,120.0)

In [5]:
# Complete task c here
def current():
    url = 'http://api.open-notify.org/iss-now.json'
    res= requests.get(url)
    results = json.loads(res.content)
    return results

#we call the function to make format at the json
data=current()
data=pd.read_json(json.dumps(data), orient = 'records')
data

           message           timestamp  iss_position
latitude   success 2019-09-22 01:34:21      -39.2269
longitude  success 2019-09-22 01:34:21       76.8663

In [6]:
#we make the printing in a tuple.

lat=data.loc['latitude','iss_position']
lon=data.loc['longitude','iss_position']
coor=(lat,lon)
print(coor)

(-39.2269, 76.8663)

d. Use your *iss_currentlocation()* function to obtain the position of the International Space Station each 10 seconds during 5 minutes. Show the results in a table with the following columns:
* timestamp (Parsed Correctly)
* latitude
* longitude

The [Time](https://docs.python.org/3/library/time.html) Python library could be useful.

In [7]:
# Complete task d here
#i put again my function an my code beacuse i did not want to run again all the jupyter if i have a mistake.
import requests
import json
import pandas as pd
import time 

def current():
    url = 'http://api.open-notify.org/iss-now.json'
    res= requests.get(url)
    results = json.loads(res.content)
    lon=results['iss_position']['longitude']
    lat=results['iss_position']['latitude']
    time=results['timestamp']
    coor=(float(lat),float(lon))
    return coor
current()

(-39.2463, 76.8977)

In [8]:
#we call the function to read the datas every 10s and print the location
#we make a new data frame and add for this the variables with a dictiornary way.
table=pd.DataFrame()
table['timestamp']=None
table['latitude']=None
table['longitude']=None
for i in range(30):
    r={
        'timestamp':time.strftime('%I:%M:%S'),
        'latitude':current()[0],
        'longitude':current()[1]
    }
    table=table.append(r,ignore_index=True)
    time.sleep(10)
table #print table

   timestamp  latitude  longitude
0   08:34:21  -39.2656    76.9290
1   08:34:31  -39.6686    77.5911
2   08:34:41  -40.0486    78.2616
3   08:34:52  -40.4432    78.9405
4   08:35:03  -40.8516    79.6277
5   08:35:13  -41.2368    80.3238
6   08:35:24  -41.5990    81.0284
7   08:35:34  -41.9746    81.7417
8   08:35:45  -42.3451    82.4641
9   08:35:55  -42.7278    83.1954
10  08:36:06  -43.0876    83.9712
11  08:36:17  -43.4419    84.7213
12  08:36:27  -43.8072    85.4806
13  08:36:38  -44.1500    86.2493
14  08:36:48  -44.4870    87.0273
15  08:36:59  -44.8180    87.8526
16  08:37:10  -45.1429    88.6119
17  08:37:20  -45.4615    89.4571
18  08:37:31  -45.7738    90.2738
19  08:37:41  -46.0795    91.1001
20  08:37:52  -46.3926    91.9359
21  08:38:03  -46.6844    92.8216
22  08:38:13  -46.9693    93.6770
23  08:38:24  -47.2470    94.5418
24  08:38:35  -47.5303    95.4162
25  08:38:45  -47.7930    96.3422
26  08:38:56  -48.0482    97.2357
27  08:39:07  -48.2957    98.1382
28  08:39:17  -48.5465    99.0499
29  08:39:28  -48.7777   100.0145

e. The International Space Station is an orbital outpost circling high above out heads. Sometimes itâ€™s overhead, but when? It depends on your location. Given a location on Earth (latitude, longitude, and altitude) the [International Space Station Pass Times](http://open-notify.org/Open-Notify-API/ISS-Location-Now/) API compute the next n number of times that the ISS will be overhead.

The function must return the obtained json file as a python dictionary.

f. Write the *url request* to obtaing the same result as in task e.

In [9]:
def iss_passtimes(latitude,longitude,altitude=None,number=None):
    url='http://api.open-notify.org/iss-pass.json'
    pmtrs={
        'lat' : latitude,
        'lon' : longitude,
        'alt' : altitude,
        'n' : number
    }
    res=requests.get(url, params = pmtrs)
    results=json.loads(res.content)
    return results
iss_Merida=iss_passtimes(20.967780,-89.644250)
iss_Merida

{'message': 'success',
 'request': {'altitude': 100,
  'datetime': 1569115595,
  'latitude': 20.96778,
  'longitude': -89.64425,
  'passes': 5},
 'response': [{'duration': 495, 'risetime': 1569136637},
  {'duration': 641, 'risetime': 1569142377},
  {'duration': 624, 'risetime': 1569190470},
  {'duration': 539, 'risetime': 1569196318},
  {'duration': 357, 'risetime': 1569220184}]}

g. Create a table with the following columns:
* latitude
* longitude
* risetime (parse correctly)
* duration

In [10]:
#i make my Data Frame
table2=pd.DataFrame()
table2['risetime']=None
table2['duration']=None
table2['latitude']=None
table2['longitude']=None

## Checklist

| Task | Points |
|:----:|:------:|
|   a  |   15   |
|   b  |   15   |
|   c  |   15   |
|   d  |   15   |
|   e  |   15   |
|   f  |   10   |
|   g  |   15   |

* **Important!** Partial credit can be obteined in each task.
* Don not forget to document your functions! [Here](http://google.github.io/styleguide/pyguide.html) is the Python Programming Styleguide from Google. [Section 3.8](http://google.github.io/styleguide/pyguide.html#38-comments-and-docstrings) is about Comments and Docstrings.