<a href="https://colab.research.google.com/github/Adrianc1234/Prepocessing-Data/blob/master/Adrianc1234/Preprocessing-Data/Practice/practica_examen.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
# aqui podemos leer un archivo de csv para poder abrirlo 
#from google.colab import files
#uploaded = files.upload()

**Pivoteo**:
 
 un metodo para organizar mejor la informacion de una base de datos.

In [12]:
data_restaurantes = {
    'ciudades': ['Guatemala','Guatemala','Guatemala','Guatemala','Guatemala','Guatemala','San José','San José','San José','San José','San José','San Salvador','San Salvador','San Salvador'],
    'culinaria': ['Chapina','Chapina','China','Thai','Italiana','Chapina','Italiana','China','Tica','Chapina','Tica','Tica','Italiana','China']
}

restaurantes_dataframe_pares = pd.DataFrame(data_restaurantes) # aqui podemo sconvertir el diccionario en data frame
restaurantes_dataframe_pares.head()# imprimimos el data frame

    ciudades culinaria
0  Guatemala   Chapina
1  Guatemala   Chapina
2  Guatemala     China
3  Guatemala      Thai
4  Guatemala  Italiana

aqui havemos ya el pivoteo, en el cual usamos como index las ciudades y dejamos como columnas los tipos de cada una, arrojando si es false o true en su respectivo lugar.

In [13]:
def funcion_agrupacion(elemento):# funcion para poner true
    return True

agrupacion_culinaria = restaurantes_dataframe_pares.pivot_table(
    index=["ciudades"],
    columns="culinaria",
    aggfunc=funcion_agrupacion,
    fill_value=False)
agrupacion_culinaria

culinaria    Chapina China Italiana   Thai   Tica
ciudades
Guatemala       True  True     True   True  False
San José        True  True     True  False   True
San Salvador   False  True     True  False   True

In [14]:
def funcion_agrupacion(elemento):
    '''Contemos cuantas instancias de cada tupla existen.'''
    ## El comando len(iterable) cuenta la cantidad de elementos que tiene el objeto iterable que le pasemos
    ## los elementos iterables pueden ser listas normales, Series de NumPy o Pandas, o diccionarios y otros tipos de datos.
    return len(elemento)
agrupacion_culinaria = restaurantes_dataframe_pares.pivot_table(index=["ciudades"], columns="culinaria", aggfunc=lambda x: funcion_agrupacion(x), fill_value=0)
agrupacion_culinaria

culinaria     Chapina  China  Italiana  Thai  Tica
ciudades
Guatemala           3      1         1     1     0
San José            1      1         1     0     2
San Salvador        0      1         1     0     1

In [15]:
agrupacion_culinaria = restaurantes_dataframe_pares.pivot_table(
    index=["ciudades"], 
    columns="culinaria", 
    aggfunc=len, ## Enviamos directamente la función de agrupación. Entre otras funcionas de agrupacíon útiles está np.sum (la función de suma de NumPy) y np.mean (media)
    fill_value=0)
agrupacion_culinaria

culinaria     Chapina  China  Italiana  Thai  Tica
ciudades
Guatemala           3      1         1     1     0
San José            1      1         1     0     2
San Salvador        0      1         1     0     1